body
{
    background-color: darkgray;
}
.cont1{
    display: flex;
    flex-wrap: wrap;
    color: red;
    font-style: italic;
    font-size: large;
    border: 5px solid red;
    align-items: center;
    width: 250px;
    margin-left: 500px;
    background-color: aliceblue;
   
}
.box{
    border-radius: 7%;
    box-shadow: 5px 5px rgb(236, 30, 219);
}
.cont2{
    display: flex;
    flex-wrap: wrap;
    color: red;
    font-style: italic;
    font-size: large;
    border: 5px solid red;
    
}